* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: Ubuntu Mono;
  color: lawngreen;
  font-size: 14px;
  background: black;
  max-width: 100%;
  height: 100%;
}

nav {
  display: none;
  max-width: 250px;
}

.menu {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.menu-open {
  left: 230px;
}

.menu-open .menu-side {
  left: 0;
}

.menu-side,
.menu {
  transition: left 0.2s ease;
}

.menu-side {
  color: black;
  text-align: center;
  background: white;
  border-right: 2px solid lawngreen;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: -230px;
  width: 230px;
  height: 100%;
}

a,
a:link,
a:active,
a:visited {
  color: blue;
}

a:hover {
  color: purple;
}

.output {
  color: white;
  font-weight: bold;
  white-space: pre;
}

.alert {
  color: red;
}

.prior-prompt, .prompt {
  display: inline-block;
  float: left;
}

.prior-prompt {
  margin-right: 5px;
}

input#user-input {
  width: 50%;
  outline: none;
  border: 0;
  box-shadow: none;
}


blink, .blink-cursor {
  animation: blink 1s step-end infinite;
}

@-webkit-keyframes blink {
  67% { opacity: 0 }
}

@-moz-keyframes blink {
  67% { opacity: 0 }
}

@-o-keyframes blink {
  67% { opacity: 0 }
}

@keyframes blink {
  67% { opacity: 0 }
}

/* &#9646; */

.input-container {
  position: relative;
  margin-left: 100px;
}

.input-container input {
  font-family: Ubuntu Mono;
  color: lawngreen;
  background: black;
  border: none;
  float: left;
  font-size: 14px;
  padding: 0 5px;
}

.input-container .blinking-cursor {
  position: absolute;
  left: 5px; /* The same as padding on the input */
}

.input-container input:focus + .blinking-cursor{
  visibility: hidden;
}

.lightbox {
  background: lawngreen; /* fix opacity make transparent */
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
}

.lightbox img {
  border: 5px solid gray;
  box-shadow: 0 0 25px #111;
  max-width: 940px;
  margin: 50px auto;
  display: block;
}



/* Cascading characters */
.wrapper {
  width: 300px;
  border-bottom: 1px solid white;
}

.print {
  white-space: nowrap;
  overflow: hidden;
  width: 300px;
  animation: type 2s steps(60, end); 
}

.print:nth-child(2){
  animation: type2 4s steps(60, end);
}

.print:nth-child(3){
  animation: type3 6s steps(60, end);
}

.print:nth-child(4){
  animation: type4 8s steps(60, end);
}

.print:nth-child(5){
  animation: type5 10s steps(60, end);
}

.print:nth-child(6){
  animation: type6 12s steps(60, end);
}

.print:nth-child(7){
  animation: type7 14s steps(60, end);
}

.print:nth-child(8){
  animation: type8 16s steps(60, end);
}

.print:nth-child(9){
  animation: type9 18s steps(60, end);
}

.print:nth-child(10){
  animation: type10 20s steps(60, end);
}

.print:nth-child(11){
  animation: type11 22s steps(60, end);
}

.print:nth-child(12){
  animation: type12 24s steps(60, end);
}



@keyframes type { 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes type3{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes type4{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes type5{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes type6{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes type7{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes type8{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes type9{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes type10{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes type11{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes type12{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 




